!!! 5
html
    head
        title Bootstrap 101 Template
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/vendor/bootstrap.min.css', rel='stylesheet')
    body
        .jumbotron
            h1 Hello, world!
            p ...
            p
                a.btn.btn-primary.btn-lg(role='button') Learn more