head
    link(rel='stylesheet', href='/css/colorpicker.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId
#account-form-container
    form( method="post")#account-form.form-horizontal.well.span6
        h1
        p#sub1.subheading Please tell us a little about yourself.
        hr1
        fieldset
            #name-cg.control-group
                label.control-label(for='name-tf') Name
                .controls
                    input#name-tf.input-xlarge(type='text', name='name', value= user.name)
            #email-cg.control-group
                label.control-label(for='email-tf') Email
                .controls
                    input#email-tf.input-xlarge(type='text', name='email', value= user.email)
            #avatar-cg.control-group
                label.control-label(for='avatar-tf') Avatar
                .controls
                    input#avatar-tf.input-xlarge(type='file', name='avatar', value= user.avatar)
            #color-cg.control-group
                label.control-label(for='color-tf') Chat Color
                .controls
                    a#cp4.btn.small(href='#', data-color-format='hex', data-color='rgb(255, 255, 255)') Change background color
                #clist-cg.control-group
                //label.control-label(for='country-list') Location
                //.controls
                //	select#country-list(name='country')
                //		each item in countries
                //			option(selected=item.name == user.country)= item.name
                hr
                p#sub2.subheading
                #user-cg.control-group
                label.control-label(for='user-tf') Old Password
                .controls
                    input#oldpass-tf.input-xlarge(type='password', name='oldpass', value='')
            #pass-cg.control-group
                label.control-label(for='pass-tf') New Password
                .controls
                    input#pass-tf.input-xlarge(type='password', name='pass', value='')
            #pass2-cg.control-group
                label.control-label(for='pass2-tf') New Password (repeat)
                .controls
                    input#pass2-tf.input-xlarge(type='password',name='pass2',value='')
            .form-actions
                button(type='button')#account-form-btn0.btn
                button(type='button')#account-form-btn1.btn
                button(type='submit')#account-form-btn2.btn
// display form errors in a custom modal window //
include modals/form-errors